*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    background: url(https://static.vecteezy.com/system/resources/previews/002/296/625/non_2x/calculator-on-a-blue-background-photo.jpg) no-repeat center center fixed;
}

.contenedor{
    height: auto;
    margin: 100px auto;
    padding: 20px 40px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: solid 1px;
}

.display{
    width: 90%;
    height: 50px;
    margin: auto;
    border: solid 1px;
}

.valor{
    width: 40px;
}

#val1{
    visibility: hidden;
}

#val2{
    visibility: hidden;
}

.operacion{
    display: flex;
}

.operador{
    width: 20px;
    height: 30px;
    padding-top: 5px;
    padding-left: 6px;
}

.btn{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: gray;
}